body {
    background-color: #313131!important;
    color: white!important;
}

legend {
    color: white!important;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white!important;
    text-shadow: 1px 1px 1px black;
}

nav ul li a:hover {
    text-decoration: none;
    color: #ffa500!important;
    text-shadow: 1px 1px 1px black;
}

.titre {
    text-align: center;
}

.recherche_text, .recherche_select {
    height: 30px;
    color: black;
}

.recherche_text {
    width: 250px;
    border-radius: 5px;
}

.recherche_select {
    border-radius: 5px;
}

footer table {
    margin-left: 40px;
}

footer table tr td {
    width: 400px;
}

.affiches {
    text-align: center;
}

.detailFilm {
    width: 1000px;
}

.imageFilm {
    width: 350px;
}

.ficheFilm {
    width: 500px;
}

.pageGestion table tr td, .pageGestion table tr th {
    border: solid 1px white;
}

.pageGestion table tr th, .pageGestion table tr td {
    padding: 0 5px;
}

.pageGestion th {
    background-color: #333333;
}

.pageGestion tr:nth-child(odd) {
    background-color: #6E6E6E;
}

.pageGestion tr:nth-child(even) {
    background-color: darkgrey;
}

.pageGestion .boutons {
    text-align: center;
}

.pageGestion .boutons a {
    margin: 10px;
}

.pageGestion .ajout {
    float: right;
}

.review {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #218BC3;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.pagination td {
    width: 50px;
    text-align: center;
}

.pagination a {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.pageActuelle {
    width: 940px;
}